[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "higlass-python"
description = "Python bindings for HiGlass"
authors = [
    { name = "Fritz Lekschas", email = "code@lekschas.de" },
    { name = "Nezar Abdennur", email = "nabdennur@gmail.com" },
    { name = "Peter Kerpdjiev", email = "pkerpedjiev@gmail.com" },
    { name = "Trevor Manz", email = "trevor.j.manz@gmail.com" },
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
]
license = { text = "MIT" }
dynamic = ["version"]
readme = "README.md"
dependencies = [
    "servir>=0.0.5",
    "higlass-schema>=0.0.6",
    "anywidget>=0.6.3",
    "jinja2",
    "jupyter-server-proxy>=3.0",
    "typing-extensions ; python_version<'3.9'",
]
urls = { homepage = "https://github.com/higlass/higlass-python" }

[project.optional-dependencies]
dev = [
    "black[jupyter]",
    "pytest",
    "ruff==0.0.285",
    "jupyterlab",
    "anywidget[dev]>=0.6.3",
]
docs = [
    "Sphinx",
    "sphinx-autobuild",
    "sphinx-js",
    "markupsafe==2.0.1",
]
fuse = [
    "fusepy",
    "simple-httpfs"
]

[tool.hatch.build]
sources = ["src"]

[tool.hatch.version]
source = "vcs"

[tool.hatch.envs.default]
features = ["dev", "fuse"]

[tool.hatch.envs.default.scripts]
fix = "black . && ruff --fix ."
lint = "black --check . && ruff ."
test = "pytest ."

[tool.hatch.envs.docs]
features = ["docs"]

[tool.hatch.envs.docs.scripts]
build = "sphinx-build -b html ./docs ./docs/_build/html"
serve = "cd docs && ./serve.sh"

[[tool.hatch.envs.test.matrix]]
python = ["38", "39", "310", "311"]

[tool.ruff]
line-length = 88
target-version = "py38"
extend-select = [
    "E",  # style errors
    # "D",  # pydocstyle
    "F",  # pyflakes
    "I",  # isort
    "RUF", # ruff-specific rules
    "UP", # pyupgrade
    "W",  # style  warnings
]

[tool.ruff.per-file-ignores]
"__init__.py" = [
    "F403", # unused-star-used
    "F401", # unused import
]

[tool.ruff.isort]
known-first-party = ["higlass"]
