[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "higlass-python"
description = "Python bindings for HiGlass"
authors = [
    { name = "Fritz Lekschas", email = "code@lekschas.de" },
    { name = "Nezar Abdennur", email = "nabdennur@gmail.com" },
    { name = "Peter Kerpdjiev", email = "pkerpedjiev@gmail.com" },
    { name = "Trevor Manz", email = "trevor.j.manz@gmail.com" },
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
]
license = { text = "MIT" }
dynamic = ["version"]
readme = "README.md"
dependencies = [
    "servir>=0.0.5",
    "higlass-schema",
    "anywidget>=0.9.0",
    "jupyter-server-proxy>=3.0",
    "typing-extensions>=4.0.0; python_version < '3.9'",
    "jinja2>=3.0.0",
]
urls = { homepage = "https://github.com/higlass/higlass-python" }

[project.optional-dependencies]
fuse = [
    "fusepy>=3.0.0",
    "simple-httpfs~=0.4.0",
]

[tool.uv]
dev-dependencies = [
    "anywidget[dev]>=0.9.13",
    "jupyterlab>=4.2.5",
    "pytest>=8.3.3",
    "ruff>=0.7.0",
]

[tool.uv.sources]
higlass-schema = { workspace = true }

[tool.uv.workspace]
members = ["packages/*"]

[tool.hatch.build.targets.sdist]
include = ["src"]

[tool.hatch.build.targets.wheel]
only-include = ["src"]
sources = ["src"]

[tool.hatch.version]
source = "vcs"

[tool.ruff]
line-length = 88
target-version = "py38"
exclude = ["examples"]

[tool.ruff.lint]
extend-select = [
    "E",  # style errors
    # "D",  # pydocstyle
    "F",  # pyflakes
    "I",  # isort
    "RUF", # ruff-specific rules
    "UP", # pyupgrade
    "W",  # style  warnings
]

[tool.ruff.lint.isort]
known-first-party = ["higlass"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = [
    "F403", # unused-star-used
    "F401", # unused import
]


