[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "higlass-schema"
description = "Pydantic models for HiGlass"
authors = [
    { name = "Trevor Manz", email = "trevor.j.manz@gmail.com" }
]
license = { text = "MIT" }
readme = "README.md"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
]
url = { homepage = "https://github.com/higlass/higlass-schema" }
dynamic = ["version"]
dependencies = [
    "importlib_metadata ; python_version < '3.8'",
    "pydantic",
    "rich",
]

[project.optional-dependencies]
dev = [
  "black",
  "pytest",
  "ruff",
]

[project.scripts]
higlass-schema = "higlass_schema.cli:main"

[tool.hatch.build]
sources = ["src"]

[tool.hatch.version]
source = "vcs"

[tool.hatch.envs.default]
features = ["dev"]

[tool.hatch.envs.default.scripts]
fix = "black . && ruff --fix ."
lint = "black --check . && ruff ."
test = "pytest ."

# https://github.com/charliermarsh/ruff
[tool.ruff]
line-length = 88
target-version = "py37"
src = ["src", "tests"]
extend-select = [
    "E",    # style errors
    "F",    # flakes
    "I",    # isort
    "UP",   # pyupgrade
    "RUF",  # ruff-specific rules
]
