name: Deploy documentation to s3 (docs-python.higlass.io)

on:
  # Runs on pushes targeting the default branch
  push:
    branches: main

# Allow one concurrent deployment
concurrency:
  group: "docs_s3"
  cancel-in-progress: true

jobs:
  # Deploy docs to S3
  deploy_s3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7

      - run: uv run docs/build.py

      - name: Publish docs to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --delete --exclude '.git/*'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_HIGLASS_S3_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_HIGLASS_S3_SECRET_ACCESS_KEY }}
          AWS_S3_BUCKET: docs-python.higlass.io
          SOURCE_DIR: ./docs/_build/html
